.box-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#input {
    padding: 15px;
}

.img-type-logo {
    width:50%;
}

.input-preview {
    width:90%;
}

.close::before, .close::after {
    content: "";
    position: absolute;
    width: 10%;
    top: 6%;
    right: 0;
    background: #ffffff;
    height: 12px;
    margin-top: -6px;
    cursor: pointer;
}
  .close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  .close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#upload input[type="file"] {
    display: none;
}

#upload {
    position: absolute;
    bottom: 10%;
    color: white;

    font-size: 1.3em;
    font-weight: 600;
    padding: 2% 10%;
    border: 3px #636f87 solid;
    border-radius: 50px;
    background-color: #424b5c;
    cursor: pointer;
}

#upload.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}